<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="LogFolder" value="${var:MainLogFolder:default=Logs}\${var:ApplicationName:default=NotLabeled}\"/>
    <variable name="Layout" value="${longdate} ${level:upperCase=true:padding=5} [${callsite:padding=50:className = true:methodName = true:includeSourcePath = false:includeNamespace = false:cleanNamesOfAnonymousDelegates = true} ${threadid}] - ${message} ${exception:format = Message, Properties : maxInnerExceptionLevel = 2} ${exception_stack}"/>
    <variable name="InfoLayout" value="${longdate} ${message}"/>

    <targets>
        <target name="Full" xsi:type="File" layout="${Layout}" fileName="${LogFolder}\Full.txt" keepFileOpen="false" archiveAboveSize="10_000_000"
                archiveNumbering="Sequence" concurrentWrites="true" archiveFileName="${LogFolder}\archives\Full_${shortdate}_{#####}.txt"/>

        <target name="Warnings" xsi:type="File" layout="${Layout}" fileName="${LogFolder}\Warnings.txt" keepFileOpen="false" archiveAboveSize="5000000"
                archiveNumbering="Sequence" concurrentWrites="true" archiveFileName="${LogFolder}\archives\Warnings_${shortdate}_{#####}.txt"/>
        
        <target name="Errors" xsi:type="File" layout="${Layout}" fileName="${LogFolder}\Errors.txt" keepFileOpen="false" archiveAboveSize="5000000"
                archiveNumbering="Sequence" concurrentWrites="true" archiveFileName="${LogFolder}\archives\Errors_${shortdate}_{#####}.txt"/>

        <target name="ConsoleLog" xsi:type="Console" layout="${Layout}" encoding="utf-8" error="false" detectConsoleAvailable="true"/>
    </targets>
    <rules>
        <logger name="*" minlevel="Trace" writeTo="Full"/>
        <logger name="*" levels="Warn" writeTo="Warnings"/>
        <logger name="*" levels="Error" writeTo="Errors"/>
        <logger name="*" minlevel="Trace" writeTo="ConsoleLog"/>
    </rules>
</nlog>